main{
    display: flex;
justify-content: space-between;
    padding:0px;
}
main .formularioO{
    width: 974px;
    max-width: 85%;
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin:20px 0px 0px 0px ;
}
main .formularioO label,
main  .formularioO  input{
    display: inline-block;
    width:90%;
    margin: 0px 0px 10px 0px;   
}
main .formularioO input{
    border-radius:0px;
    padding: 10px;
    font-size: 20px;
   
}
main .formularioO .input_archivo{
    border:none;
    padding:0px;
    font-size: 14px;
}
main .formularioO div{
    min-width: 300px;
    width: 75%;
    
}
main .formularioO div .botonU{
    border-radius: 32px;
    text-align: center;
    max-width: 236px;
    width: 50%;
}

main .formularioO img{
    width: 293px;
    height: 266px;
    margin: auto 0px;
}