main{
    display: flex;
justify-content: space-between;
    padding:0px;
}
main .formularioRe{
    width: 974px;
    max-width: 85%;
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin:20px 0px 0px 0px ;
}
main .formularioRe label,
main  .formularioRe  input{
    display: inline-block;
    width:90%;
    margin: 0px 0px 10px 0px;   
}
main .formularioRe input{
    border-radius:0px;
    padding: 10px;
    font-size: 20px;
   
}


main .formularioRe div{
    min-width: 300px;
    width: 75%;
    
}
main .formularioRe div .botonR{
    border-radius: 32px;
    text-align: center;
    max-width: 175px;
    width: 50%;
}

