main{
    display: flex;
justify-content: space-between;
    padding:0px;
}
main .formularioR{
    width: 974px;
    max-width: 85%;
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin:20px 0px 0px 0px;
}
main .formularioR   input{
    border-radius: 0px;
    font-size: 20px;
}
main .formularioR label,
main  .formularioR  input{
    display: inline-block;
    width: 90%;  
    padding: 0px 10px; 
    margin:5px 0px; 
}
main .formularioR input{
    border-radius: 0px;
    padding: 15px;
    /*max-width:45% ;*/
}
main .formularioR .input_Color,
main .formularioR   .input_Blanco{
    border:none;
    padding:0px;
    
}
main .formularioR div{
    min-width: 440px;
    width: 75%;
    
}
main .formularioR div .boton{
    border-radius: 32px;
    text-align: center;
    max-width: 236px;
    width: 50%;
}

main .formularioR img{
   width: 293px;
    height: 266px;
    margin: auto 0px;
}



