main{
    display: flex;
    justify-content: center;
    padding: 58px 0px;
    min-height: 720px;
}
.Niña{
  width: 20%;
  display: flex;
  justify-content: flex-start;

}
  
.Niño{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
main form{
    width: 60%;
    max-width: 563px;
    border: 1px solid ;
    border-radius: 75px;
    background-color: #fff;
    padding: 0px 49px ;
}
main form img{
    display: block;
   width: 65%;
   margin: auto;
}
main form label,
main form input,
main form a{
    margin: 10px 0px;
    display: inline-block;
}
main div .Niñoimagen {
  width: 198px;
  height: 298px;
}
main    div .Niñaimagen {
    width: 208px;
    height: 275px; ;
}
main form input{
    padding: 20px;
    width: 90%;
    border-radius: 38px;
    border:0.5px solid;
}
main form .boton{
    background-color: #23636F;
    color:#fff;
    font-size: 22px;
}
/*media queries para responsive*/


