
.step{
    color:black;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step.completed{
    background-color: #60269e;
    color:white;
}

.scale-in-center {
	animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
.active{
    background-color: #8cc5b0;
    color: #fff !important;
    border-radius: 50px;
    box-shadow: 0 0 10px 1px #8cc5b0
}
.linkNav{
    margin:0;
    padding: 10px 15px ;
}

.tabvs .active{
    background-color: #fff !important;
    color: #fff !important;
    border-radius: 50px !important;
    box-shadow: 0 0 10px 1px #Fff !important;
}

#root{
    font-family:"Montserrat", Helvetica, Arial, serif;
}

body{
    background-color: #f8f8f8;
}
.fuenteDoce{
    font-size: 12px;
    font-weight: 700;
}
.minav {
    padding:10px;
    color:#777;
    list-style-type: none;
}

.minav  .item  {
    margin:10px;
}
.minav .item .linkNav {
    color:#777;
    font-size: 1em;
    display: block;
    text-decoration: none;
    
}
.minav .item .linkNav img {
    width: 2vw;
}

.minav .item .linkNav:hover{
    background-color: #8cc5b0;
    color:#fff;
    text-decoration: solid;
    border-radius: 50px;
    box-shadow: 0 0 10px 1px #8cc5b0
}

.fondoMC{
    background-color: #fff;
}

.fondoImagen{
    background-image:url("./assets/img/AssetsGame/Blipbla-pantalla-1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
   

}
.fondoImagenVocabulario{
    background-image:url("./assets/img/AssetsGame/BLIPBLA-BACKGROUND-2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left; 
}

.Mi-diseñodiv{
    width:300   !important; 
    height:180 !important; 
    border-radius:100 !important; 
    display:flex !important; 
    justify-content:space-evenly !important; 
    align-items:center !important;
}

.minicuadrito .encima{
    z-index: 30;
    width: 25.5vw /*280px*/;
    height:100%;
    position:fixed;
}
#imagenRompecabeza{
    width: 25vw/*273px*/;   
}
#imagenFinal{
    width: 50vw
}

.minicuadrito .encima .a{
    border-start-start-radius: 10px 10px;
    background-color: #FBFBFB;
    width: 50%;
    height: 50%;
    display: inline-block;
}


.minicuadrito .encima .b{
    background-color: #FBFBFB;
    border-start-end-radius: 10px 10px;
    width: 50%;
    height: 50%;
    display: inline-block;
}
.minicuadrito .encima .c{
    background-color: #FBFBFB;
			width:  50%;
			height: 50%;
			display: inline-block;
			margin-top: -5px;
			padding: -1px;
            border-end-start-radius: 10px 10px;
}
.minicuadrito .encima .d{
    display: inline-block;
			background-color: #FBFBFB;
			width:  50%;
			height: 50%;
			margin-top: -5px;
			padding: -1px;
            border-end-end-radius: 10px 10px;
}



.minicuadrito .encima .e{
    border-start-start-radius: 10px 10px;
    background-color: #FBFBFB;
    width: 33%;
    height: 50%;
    display: inline-block;
}
.animacionBoton:hover{
    border:solid #60269e 2px;
}
.minicuadrito .encima .f{
    background-color: #FBFBFB;
    width: 33%;
    height: 50%;
    display: inline-block;
}

.minicuadrito .encima .g{
    border-start-end-radius: 10px 10px;
    background-color: #FBFBFB;
    width: 33%;
    height: 50%;
    display: inline-block;
}

.minicuadrito .encima .h{
    display: inline-block;
			background-color: #FBFBFB;
			width:  33%;
			height: 50%;
			margin-top: -5px;
			padding: -1px;
            border-end-start-radius: 10px 10px;
}

.minicuadrito .encima .i{
    display: inline-block;
			background-color: #FBFBFB;
			width:  33%;
			height: 50%;
			margin-top: -5px;
			padding: -1px;
}

.minicuadrito .encima .j{
    display: inline-block;
    border-end-end-radius: 10px 10px;
			background-color: #FBFBFB;
			width:  33%;
			height: 50%;
			margin-top: -5px;
			padding: -1px;
}
.modal{
    --bs-modal-footer-border-color:"none" !important;
    --bs-modal-border-color:"none"!important;
    --bs-modal-header-border-color:"none" !important;   
}

.print-image {
    margin-left:100px;
    margin-top:50px ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 62vh;
    transform: rotate(90deg);
  }

  .desaparecer{
    visibility: hidden;
  }

  /*
  Media Queries
  */

  @media screen and  (max-width: 426px) {

    .minicuadrito .encima{
    z-index: 30;
    width:  280px;
    height:100%;
    position:fixed;
}
#imagenFinal{
    width: 273px;
}

#imagenRompecabeza{
    width:273px;
}



 }
  
  
 @media screen and  (max-width: 767px) and (min-width:320px) {
    .minicuadrito .encima{
        z-index: 30;
        width: 50.5vw;
        height:100%;
        position:fixed;
    }
    
#imagenFinal{
    width: 65vw;
}

#imagenRompecabeza{
    width: 50vw/*273px*/;   
}
.cac{
    width:280px;
} 

 }
 @media screen  and  (max-width: 1024px) and (min-width:768px) {
    .minicuadrito .encima{
        z-index: 30;
        width: 25.5vw /*280px*/;
        height:100%;
        position:fixed;
    }
    #imagenRompecabeza{
        width: 25vw/*273px*/;   
    }
    #imagenFinal{
        width: 50vw;
    }
    .print{
        width:60vw;
    } 
}
@media screen  and  (max-width: 1024px) and (min-width:776px){
    .print{
        width:45vw;
    }
}
@media screen  and  (max-width: 1440px) and (min-width:1025px){
   .print{
        width:32vw;
    }
}


 @media screen  and  (max-width: 1440px) and (min-width:1025px) {
    .minicuadrito .encima{
        z-index: 30;
        width: 25.5vw /*280px*/;
        height:100%;
        position:fixed;
    }
    #imagenRompecabeza{
        width: 25vw/*273px*/;   
    }
    #imagenFinal{
        width: 48vw;
    }
}
@media screen  and  (max-width: 2560px) and (min-width:1441px) {
    .minicuadrito .encima{
        z-index: 30;
        width: 25.5vw /*280px*/;
        height:100%;
        position:fixed;
    }
    #imagenRompecabeza{
        width: 25vw/*273px*/;   
    }
    #imagenFinal{
        width: 48vw;
    }
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
    --bs-offcanvas-width: 300px !important;
}