.minav {
    padding:10px;
    color:#777;
    list-style-type: none;
}

.minav  .item  {
    margin:10px;
}
.minav .item .linkNav {
    color:#777;
    font-size: 1em;
    display: block;
    text-decoration: none;
    
}
.minav .item .linkNav img {
    width: 2vw;
}

.minav .item .linkNav:hover{
    background-color: #8cc5b0;
    color:#fff;
    text-decoration: solid;
}

.fondoMC{
    background-color: #F7DCDC;
}

.fondoCM{
    background-color: #DDD3DD;
}

.Mi-diseñodiv{
    width:300   !important; 
    height:180 !important; 
    border-radius:100 !important; 
    display:flex !important; 
    justify-content:space-evenly !important; 
    align-items:center !important;
}

.minicuadrito .encima{
    z-index: 30;
    width:  275px;
    height:150px;
    position:fixed;
}
.minicuadrito .encima .a{
    background-color: #000;
    width: 50%;
    height: 50%;
    display: inline-block;
}
.minicuadrito .encima .b{
    background-color: #000;
    width: 50%;
    height: 50%;
    display: inline-block;
}
.minicuadrito .encima .c{
    background-color: #000;
			width:  50%;
			height: 50%;
			display: inline-block;
			margin-top: -5px;
			padding: -1px;
}
.minicuadrito .encima .d{
    display: inline-block;
			background-color: #000;
			width:  50%;
			height: 50%;
			margin-top: -5px;
			padding: -1px;
}



.minicuadrito .encima .e{
    background-color: #000;
    width: 33%;
    height: 50%;
    display: inline-block;
}

.minicuadrito .encima .f{
    background-color: #000;
    width: 33%;
    height: 50%;
    display: inline-block;
}

.minicuadrito .encima .g{
    background-color: #000;
    width: 33%;
    height: 50%;
    display: inline-block;
}

.minicuadrito .encima .h{
    display: inline-block;
			background-color: #000;
			width:  33%;
			height: 50%;
			margin-top: -5px;
			padding: -1px;
}

.minicuadrito .encima .i{
    display: inline-block;
			background-color: #000;
			width:  33%;
			height: 50%;
			margin-top: -5px;
			padding: -1px;
}

.minicuadrito .encima .j{
    display: inline-block;
			background-color: #000;
			width:  33%;
			height: 50%;
			margin-top: -5px;
			padding: -1px;
}

